@keldoc:registry=https://npm.gitlab-ext.ci.rke.keldoc.com/api/v4/projects/5/packages/npm/
//npm.gitlab-ext.ci.rke.keldoc.com/api/v4/projects/5/packages/npm/:_authToken=ADD_TOKEN_HERE_TO_PUBLISH_NEW_VERSION

# Helpful docs: https://docs.gitlab.com/ee/user/packages/npm_registry/
# You need gitlab token to push packages to gitlab npm registry
# Edit files, update version in package.json, tag, commit
# Run npm publish
