@keldoc:registry=https://npm.gitlab-ext.ci.rke.keldoc.com/api/v4/projects/5/packages/npm/
//npm.gitlab-ext.ci.rke.keldoc.com/api/v4/projects/5/packages/npm/:_authToken=ADD_TOKEN_HERE_TO_PUBLISH_NEW_VERSION
